[submodule "catkin_ws/src/simple_arm"]
	path = 02_GoChaseIt/src/simple_arm
	url = https://github.com/udacity/RoboND-simple_arm/
[submodule "localization/src/turtlebot_simulator"]
	path = localization/src/turtlebot_simulator
	url = https://github.com/turtlebot/turtlebot_simulator
[submodule "localization/src/robot_pose_ekf"]
	path = localization/src/robot_pose_ekf
	url = https://github.com/udacity/robot_pose_ekf
[submodule "localization/src/odom_to_trajectory"]
	path = localization/src/odom_to_trajectory
	url = https://github.com/udacity/odom_to_trajectory
[submodule "localization/src/turtlebot"]
	path = localization/src/turtlebot
	url = https://github.com/turtlebot/turtlebot
