[submodule "localization/src/turtlebot_simulator"]
	path = EKFLab/src/turtlebot_simulator
	url = https://github.com/turtlebot/turtlebot_simulator
[submodule "localization/src/robot_pose_ekf"]
	path = EKFLab/src/robot_pose_ekf
	url = https://github.com/udacity/robot_pose_ekf
[submodule "localization/src/odom_to_trajectory"]
	path = EKFLab/src/odom_to_trajectory
	url = https://github.com/udacity/odom_to_trajectory
[submodule "localization/src/turtlebot"]
	path = EKFLab/src/turtlebot
	url = https://github.com/turtlebot/turtlebot
[submodule "03_WhereAmI/src/pgm_map_creator"]
	path = 03_WhereAmI/src/pgm_map_creator
	url = https://github.com/udacity/pgm_map_creator
